# Environmental variables
.env
/*.env

# macOS
.DS_Store

# Virtual environment
/venv

# logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# .deb
*.deb

# Models - ignore subdirectories
backend/models/*/

# Saved Chats
saved_chats/

# Potential future additions:

# IDE directories
# .idea/
# .vscode/

# Python testing
# .pytest_cache/
# coverage/
# .coverage
# htmlcov/
# .tox/

# Build artifacts
# build/
# dist/

# Other OS-specific files
# Thumbs.db
# ehthumbs.db

